<table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Project Name</th>
        <th>Phone Documentation</th>
        <th>Address</th>
        <th>College Name</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of filteredUsers">
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phoneNo }}</td>
            <td>{{ item.clgName }}</td>
            <td>{{ item.projectDocumentation }}</td>
            <td>{{ item.projectLanguage }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.status }}</td>
            
          </tr>
    </tbody>
  </table>