<div class="container my-0">
    <h2 class="cardtitle text-center my-3 py-3"> My Recent Projects</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="/assets/image/portfolio.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Portolio</h5>
            <p class="card-text">An online portfolio  is an online representation of work you have created, as well as your skills and experiences</p>
            <a [routerLink]="['/getproject']" class="btn btn-primary">Get Project</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="/assets/image/Car-Rental-System.jpg"class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Car-Rental-System</h5>
            <p class="card-text">A car rental,  car hire agency is a company that rents automobiles for short periods of time to the public, generally ranging from a few days.</p>
            <a [routerLink]="['/getproject']" class="btn btn-primary">Get Project</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="/assets/image/Waste-Management-System.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">WasteManagementSystem</h5>
            <p class="card-text">A waste management system is the strategy an organization uses to dispose, reduce, reuse, and prevent waste. </p>
            <a  [routerLink]="['/getproject']" class="btn btn-primary">Get Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
